<h3 class="title"><%= l(:search_assign) %></h3>
  <p><%= label_tag 'user_search', l(:label_user_search) %><%= text_field_tag 'user_search', nil %></p>
  <%= observe_field(:user_search,
               :frequency => 0.5,
               :update => :users_for_asssign,
               :method => :get,
               :before => '$("user_search").addClassName("ajax-loading")',
               :complete => '$("user_search").removeClassName("ajax-loading")',
               :url => {
                 :controller => 'kichiku',
                 :action => 'autocomplete_for_asssign_user',
                 :object_type => watched.class.name.underscore,
                 :project_id=>params[:project_id],
                 :issue_id=>@issue_id,
                 :object_id => watched},
               :with => 'q') %>

  <div id="users_for_asssign" style="height:200px;overflow: auto;">
    <from id="asform" name="asform">
      <% @users.each do |user| %>
      <label><%= radio_button_tag 'asssign_user', user.id %><%= user.name %></label><br/>
      <% end %>
    </form>
  </div>

  <p class="buttons">
    <%= submit_tag '決定', :name => nil, :onclick => "select_user();hideModal(this);" %>
    <%= submit_tag l(:button_cancel), :name => nil, :onclick => "hideModal(this);", :type => 'button' %>
  </p>
</script>
